#!/usr/bin/env bash
# These variables are fixed values that typically won't change
export CONCOURSE_TEAM_NAME=${USER}
export CONCOURSE_USERNAME=admin
# These variables are provided by your instructor
export CONCOURSE_TEAM_NAME=<concourse_team_name>
export CONCOURSE_PIPELINE_URL=<pipeline_url>
export GITHUB_USERNAME=<github_username>
export CONCOURSE_PASSWORD=<concourse_password>
