#!/usr/bin/env bash
export CONCOURSE_TEAM_NAME=<concourse_team_name>
export CONCOURSE_PIPELINE_URL=<pipeline_url>
export GITHUB_USERNAME=<github_username>
export CONCOURSE_USERNAME=<concourse_username>
export CONCOURSE_PASSWORD=<concourse_password>
